.narrower-screen {
    display: contents;
}

.actuators {
    background-color: rgba(255,255,255,0.5);
    min-width: fit-content;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1cm;
    flex-basis: auto;
}

.actuator {
    background-color: #ccc;
    padding: 5px;
    display: flex;
    font-size: x-large;
    border-radius: 10px;
}

.actuator .image {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image img {
    width: 1em;
    height: 1em;
}

.actuator .actuator_name {
    width: 200px;
    display: flex;
    align-items: center;
    min-width: max-content;
}

.actuator_name .name_text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 50px;
}

.actuator .actuator_status {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actuator_status .status_name {
    padding-right: 25px;
}

#fan-off, #heater-off, #humidifier-off, #lamp-off {
    display: block;
}
#fan-on, #heater-on, #humidifier-on, #lamp-on {
    display: none;
}

.sensors {
    background-color: rgba(255,255,255,0.5);
    padding: 1cm;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1cm;
    border-radius: 15px;
    flex-basis: content;
}

.sensor {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    opacity: 100%;
    border-radius: 10px;
    padding : 20px;
    display: flex;
    flex-direction: column;
  }
  
.status_sensor {
    display: flex;
    flex-direction: row-reverse;
    height: 20%;
    width: 100%
}

.status_colour_normal{
    width: 30px;
    height: 10px;
    background-color: #1B9A18;
    align-items: center;
}

.status_colour_notnormal{
    width: 30px;
    height: 10px;
    background-color: #9A1818;
    align-items: center;
}

.sensor_value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 55%;
}

.value_text {
    text-align: center;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.sensor_name {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 25%;
}

.name_text {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 760px) {
    .home {
        flex-direction: column;
        justify-content: flex-start;
        gap: 25px;
    }
}

@media screen and (max-width: 500px) {
    .actuators {
        background-color: rgba(255,255,255,0.5);
        min-width: fit-content;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        flex-basis: auto;
    }
    .actuator .actuator_name {
        display: none;
    }
}

@media screen and (max-height: 768px) {
    .home {
        align-items: stretch;
    }
}

@media screen and (max-height: 768px) and (max-width: 760px) {
    .narrower-screen {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: stretch;
        gap: 25px;
    }
    .actuator {
        justify-content: space-between;
    }
    .sensor {
        width: 75%;
    }
}